.no-borders .teaser {
  border: none !important;
}

[class*="grid--"] > ul,
[class*="grid-sm--"] > ul,
[class*="grid-md--"] > ul,
[class*="grid-lg--"] > ul,
[class*="grid-xl--"] > ul,
[class*="grid__"] > ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 1.667rem;
}

[class*="grid--"] > ul > li,
[class*="grid-sm--"] > ul > li,
[class*="grid-md--"] > ul > li,
[class*="grid-lg--"] > ul > li,
[class*="grid-xl--"] > ul > li,
[class*="grid__"] > ul > li {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 1.667rem;
}

[class*="grid--"] > ul > li:nth-child(1),
[class*="grid-sm--"] > ul > li:nth-child(1),
[class*="grid-md--"] > ul > li:nth-child(1),
[class*="grid-lg--"] > ul > li:nth-child(1),
[class*="grid-xl--"] > ul > li:nth-child(1),
[class*="grid__"] > ul > li:nth-child(1) {
  margin-top: 0;
}

[class*="grid--"].no-gutters > ul,
[class*="grid-sm--"].no-gutters > ul,
[class*="grid-md--"].no-gutters > ul,
[class*="grid-lg--"].no-gutters > ul,
[class*="grid-xl--"].no-gutters > ul,
[class*="grid__"].no-gutters > ul {
  margin-right: 0;
  margin-left: 0;
}

[class*="grid--"].no-gutters > ul > li,
[class*="grid-sm--"].no-gutters > ul > li,
[class*="grid-md--"].no-gutters > ul > li,
[class*="grid-lg--"].no-gutters > ul > li,
[class*="grid-xl--"].no-gutters > ul > li,
[class*="grid__"].no-gutters > ul > li {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  [class*="grid--"].equal-height article,
  [class*="grid--"].equal-height .teaser--card,
  [class*="grid-sm--"].equal-height article,
  [class*="grid-sm--"].equal-height .teaser--card,
  [class*="grid-md--"].equal-height article,
  [class*="grid-md--"].equal-height .teaser--card,
  [class*="grid-lg--"].equal-height article,
  [class*="grid-lg--"].equal-height .teaser--card,
  [class*="grid-xl--"].equal-height article,
  [class*="grid-xl--"].equal-height .teaser--card,
  [class*="grid__"].equal-height article,
  [class*="grid__"].equal-height .teaser--card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  [class*="grid--"].equal-height article > div,
  [class*="grid--"].equal-height .teaser--card > div,
  [class*="grid-sm--"].equal-height article > div,
  [class*="grid-sm--"].equal-height .teaser--card > div,
  [class*="grid-md--"].equal-height article > div,
  [class*="grid-md--"].equal-height .teaser--card > div,
  [class*="grid-lg--"].equal-height article > div,
  [class*="grid-lg--"].equal-height .teaser--card > div,
  [class*="grid-xl--"].equal-height article > div,
  [class*="grid-xl--"].equal-height .teaser--card > div,
  [class*="grid__"].equal-height article > div,
  [class*="grid__"].equal-height .teaser--card > div {
    width: 100%;
  }
  [class*="grid--"].equal-height article .content-wrapper,
  [class*="grid--"].equal-height .teaser--card .content-wrapper,
  [class*="grid-sm--"].equal-height article .content-wrapper,
  [class*="grid-sm--"].equal-height .teaser--card .content-wrapper,
  [class*="grid-md--"].equal-height article .content-wrapper,
  [class*="grid-md--"].equal-height .teaser--card .content-wrapper,
  [class*="grid-lg--"].equal-height article .content-wrapper,
  [class*="grid-lg--"].equal-height .teaser--card .content-wrapper,
  [class*="grid-xl--"].equal-height article .content-wrapper,
  [class*="grid-xl--"].equal-height .teaser--card .content-wrapper,
  [class*="grid__"].equal-height article .content-wrapper,
  [class*="grid__"].equal-height .teaser--card .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
}

.grid--2-columns > ul > li {
  flex: 0 0 50%;
  max-width: 50%;
}

.grid--2-columns > ul > li:nth-child(2) {
  margin-top: 0;
}

.grid--3-columns > ul > li {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.grid--3-columns > ul > li:nth-child(2), .grid--3-columns > ul > li:nth-child(3) {
  margin-top: 0;
}

.grid--4-columns > ul > li {
  flex: 0 0 25%;
  max-width: 25%;
}

.grid--4-columns > ul > li:nth-child(2), .grid--4-columns > ul > li:nth-child(3), .grid--4-columns > ul > li:nth-child(4) {
  margin-top: 0;
}

.grid--6-columns > ul > li:nth-child(1) {
  margin-top: 0;
}

@media (min-width: 768px) {
  .grid--6-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid--6-columns > ul > li:nth-child(1), .grid--6-columns > ul > li:nth-child(2), .grid--6-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .grid--6-columns > ul > li {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid--6-columns > ul > li:nth-child(1), .grid--6-columns > ul > li:nth-child(2), .grid--6-columns > ul > li:nth-child(3), .grid--6-columns > ul > li:nth-child(4), .grid--6-columns > ul > li:nth-child(5), .grid--6-columns > ul > li:nth-child(6) {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .grid-sm--2-columns > ul > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-sm--2-columns > ul > li:nth-child(2) {
    margin-top: 0;
  }
  .grid-sm--3-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-sm--3-columns > ul > li:nth-child(2), .grid-sm--3-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
  .grid-sm--4-columns > ul > li {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-sm--4-columns > ul > li:nth-child(2), .grid-sm--4-columns > ul > li:nth-child(3), .grid-sm--4-columns > ul > li:nth-child(4) {
    margin-top: 0;
  }
  .grid-sm--6-columns > ul > li:nth-child(1) {
    margin-top: 0;
  }
}

@media (min-width: 576px) and (min-width: 768px) {
  .grid-sm--6-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-sm--6-columns > ul > li:nth-child(1), .grid-sm--6-columns > ul > li:nth-child(2), .grid-sm--6-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

@media (min-width: 576px) and (min-width: 1200px) {
  .grid-sm--6-columns > ul > li {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-sm--6-columns > ul > li:nth-child(1), .grid-sm--6-columns > ul > li:nth-child(2), .grid-sm--6-columns > ul > li:nth-child(3), .grid-sm--6-columns > ul > li:nth-child(4), .grid-sm--6-columns > ul > li:nth-child(5), .grid-sm--6-columns > ul > li:nth-child(6) {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .grid-md--2-columns > ul > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-md--2-columns > ul > li:nth-child(2) {
    margin-top: 0;
  }
  .grid-md--3-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-md--3-columns > ul > li:nth-child(2), .grid-md--3-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
  .grid-md--4-columns > ul > li {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-md--4-columns > ul > li:nth-child(2), .grid-md--4-columns > ul > li:nth-child(3), .grid-md--4-columns > ul > li:nth-child(4) {
    margin-top: 0;
  }
  .grid-md--6-columns > ul > li:nth-child(1) {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .grid-md--6-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-md--6-columns > ul > li:nth-child(1), .grid-md--6-columns > ul > li:nth-child(2), .grid-md--6-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .grid-md--6-columns > ul > li {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-md--6-columns > ul > li:nth-child(1), .grid-md--6-columns > ul > li:nth-child(2), .grid-md--6-columns > ul > li:nth-child(3), .grid-md--6-columns > ul > li:nth-child(4), .grid-md--6-columns > ul > li:nth-child(5), .grid-md--6-columns > ul > li:nth-child(6) {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .grid-lg--2-columns > ul > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-lg--2-columns > ul > li:nth-child(2) {
    margin-top: 0;
  }
  .grid-lg--3-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-lg--3-columns > ul > li:nth-child(2), .grid-lg--3-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
  .grid-lg--4-columns > ul > li {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-lg--4-columns > ul > li:nth-child(2), .grid-lg--4-columns > ul > li:nth-child(3), .grid-lg--4-columns > ul > li:nth-child(4) {
    margin-top: 0;
  }
  .grid-lg--6-columns > ul > li:nth-child(1) {
    margin-top: 0;
  }
}

@media (min-width: 992px) and (min-width: 768px) {
  .grid-lg--6-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-lg--6-columns > ul > li:nth-child(1), .grid-lg--6-columns > ul > li:nth-child(2), .grid-lg--6-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .grid-lg--6-columns > ul > li {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-lg--6-columns > ul > li:nth-child(1), .grid-lg--6-columns > ul > li:nth-child(2), .grid-lg--6-columns > ul > li:nth-child(3), .grid-lg--6-columns > ul > li:nth-child(4), .grid-lg--6-columns > ul > li:nth-child(5), .grid-lg--6-columns > ul > li:nth-child(6) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .grid-xl--2-columns > ul > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xl--2-columns > ul > li:nth-child(2) {
    margin-top: 0;
  }
  .grid-xl--3-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-xl--3-columns > ul > li:nth-child(2), .grid-xl--3-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
  .grid-xl--4-columns > ul > li {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xl--4-columns > ul > li:nth-child(2), .grid-xl--4-columns > ul > li:nth-child(3), .grid-xl--4-columns > ul > li:nth-child(4) {
    margin-top: 0;
  }
  .grid-xl--6-columns > ul > li:nth-child(1) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) and (min-width: 768px) {
  .grid-xl--6-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-xl--6-columns > ul > li:nth-child(1), .grid-xl--6-columns > ul > li:nth-child(2), .grid-xl--6-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) and (min-width: 1200px) {
  .grid-xl--6-columns > ul > li {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-xl--6-columns > ul > li:nth-child(1), .grid-xl--6-columns > ul > li:nth-child(2), .grid-xl--6-columns > ul > li:nth-child(3), .grid-xl--6-columns > ul > li:nth-child(4), .grid-xl--6-columns > ul > li:nth-child(5), .grid-xl--6-columns > ul > li:nth-child(6) {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .grid__2-columns > ul > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid__2-columns > ul > li:nth-child(1), .grid__2-columns > ul > li:nth-child(2) {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .grid__3-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid__3-columns > ul > li:nth-child(1), .grid__3-columns > ul > li:nth-child(2), .grid__3-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

.grid__4-columns > ul > li:nth-child(1) {
  margin-top: 0;
}

@media (min-width: 768px) {
  .grid__4-columns > ul > li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid__4-columns > ul > li:nth-child(1), .grid__4-columns > ul > li:nth-child(2) {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .grid__4-columns > ul > li {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__4-columns > ul > li:nth-child(1), .grid__4-columns > ul > li:nth-child(2), .grid__4-columns > ul > li:nth-child(3), .grid__4-columns > ul > li:nth-child(4) {
    margin-top: 0;
  }
}

.grid__6-columns > ul > li:nth-child(1) {
  margin-top: 0;
}

@media (min-width: 768px) {
  .grid__6-columns > ul > li {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid__6-columns > ul > li:nth-child(1), .grid__6-columns > ul > li:nth-child(2), .grid__6-columns > ul > li:nth-child(3) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .grid__6-columns > ul > li {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid__6-columns > ul > li:nth-child(1), .grid__6-columns > ul > li:nth-child(2), .grid__6-columns > ul > li:nth-child(3), .grid__6-columns > ul > li:nth-child(4), .grid__6-columns > ul > li:nth-child(5), .grid__6-columns > ul > li:nth-child(6) {
    margin-top: 0;
  }
}

.list > ul > li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.list > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.list--tiny > ul > li {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.list--bordered > ul > li {
  border-bottom: 1px solid #eceff1;
}

.column--2-columns > ul,
.column__2-columns > ul, .column--3-columns > ul,
.column__3-columns > ul, .column--4-columns > ul,
.column__4-columns > ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.column--2-columns > ul > li, .column__2-columns > ul > li, .column--3-columns > ul > li, .column__3-columns > ul > li, .column--4-columns > ul > li, .column__4-columns > ul > li {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .column--2-columns > ul,
  .column__2-columns > ul, .column--3-columns > ul,
  .column__3-columns > ul, .column--4-columns > ul,
  .column__4-columns > ul {
    column-count: 1;
    column-gap: 1.25rem;
  }
  .column--2-columns > ul > li, .column__2-columns > ul > li, .column--3-columns > ul > li, .column__3-columns > ul > li, .column--4-columns > ul > li, .column__4-columns > ul > li {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .column--2-columns > ul,
  .column__2-columns > ul {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .column--3-columns > ul,
  .column__3-columns > ul {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .column--3-columns > ul,
  .column__3-columns > ul {
    column-count: 3;
  }
}

@media (min-width: 768px) {
  .column--4-columns > ul,
  .column__4-columns > ul {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .column--4-columns > ul,
  .column__4-columns > ul {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .column--4-columns > ul,
  .column__4-columns > ul {
    column-count: 4;
  }
}

.masonry--2-columns .masonry-layout,
.masonry--3-columns .masonry-layout,
.masonry--4-columns .masonry-layout {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.masonry--2-columns .masonry-layout .masonry-item,
.masonry--3-columns .masonry-layout .masonry-item,
.masonry--4-columns .masonry-layout .masonry-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 1.6rem;
}

@media (min-width: 768px) {
  .masonry--2-columns .masonry-layout .masonry-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .masonry--3-columns .masonry-layout .masonry-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .masonry--3-columns .masonry-layout .masonry-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .masonry--4-columns .masonry-layout .masonry-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .masonry--4-columns .masonry-layout .masonry-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .masonry--4-columns .masonry-layout .masonry-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/*# sourceMappingURL=../../sourcemaps/layout/views/content-listing-classes.css.map */
