{#
/**
 * @file
 * Default theme implementation for layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% extends "@em/layouts/home/home_1/layout--home-1.html.twig" %}


  {# == Region: Featured == #}
  {# ====================== #}

  {% block region_featured %}
    {% if(content.featured) %}
      <div{{ region_attributes.featured.addClass('js-page-featured-wrapper') }}>
        {{ content.featured }}
      </div>
    {% endif %}
  {% endblock %}
