html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

* {
  outline: none !important;
}

p:last-child {
  margin-bottom: 0;
}

.container-fluid .container-fluid,
.container-fluid .container,
.container .container,
.container .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 992px) {
  .container-fluid {
    width: 90%;
  }
}

.container .container-fluid {
  width: 100% !important;
}

.block-system {
  position: relative;
  z-index: 1;
}

a, a.btn, button {
  transition: background-color .2s ease, color .2s ease, opacity .2s ease;
}

